<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mastodon Digest</title>
    <style type="text/css" href="style.css">
    
      body {
          background: rgb(252, 252, 253);
          color: #55525c;
          text-align: left;
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          margin: 0px 10px;
      }

      a {
        color: #5d4f84;
      }

      #container {
          display: flex;
          justify-content: center;
      }

      .blocks {
        line-height: 1.6;
        
      }

      .stream {
          width: 100%;
          max-width: 490px;
      }

      .stream_title{
          text-align: center;
          font-weight: bold;
          padding: 10px;
          font-size: 2em;
      }

      .post {
          background-color: #fff;
          padding: 18px 20px;
          border: 4px solid #E6E3E1;
          border-radius: 10px;
          display: flex;
          width: 100%;
          max-width: 450px;
          margin: 0px 5px 15px 5px;
      }

      .status {
        width: 100%;
      }

      .post_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .links a {
          padding: 2px 6px;
          border-radius: 5px;
          opacity: .7;
      }

      .post a {
          text-decoration: none;
      }

      .avatar {
          max-width: 56px;
          min-width: 56px;
          height: 56px;
          margin-right: 20px;
      }

      .avatar img {
          max-width: 100%;
          border-radius: 20%;
          border: 1px solid #E6E3E1;
      }

      .user {
        display: flex;
      }

      .username {
          font-size: .85em;
      }

      .displayname {
          font-weight: bold;
          font-size: 1.2em;
      }

      .displayname img {
          height: 16px;
          width: 16px;
          vertical-align: middle;
          object-fit: contain;
      }

      .content {
          color: #55525c;
          font-size: 14px;
          padding: 15px 15px 15px 0px;
          overflow-wrap: break-word;
          word-break: break-word;
      }

      .medias {
          padding-bottom: 15px;
          display: flex;
          gap: 5px;
          justify-content: center;
      }

      .content p {
          max-width: none;
          margin: 15px 0px;
      }

      .content a:hover, .footer a:hover, .user a:hover, .links a[href]:hover {
          color: #4d54d1;
      }

      .ellipsis::after {
          content: "…";
      }

      .content .invisible {
          display: none;
      }

      .status a:not(.hashtag):not(.mention) span:not(.invisible){
          font-weight: bold
      }

      .home-link, .original-link, a.hashtag, a.mention, .footer .links a {
          text-decoration: none;
          opacity: .8;
          background-color: #e9e9f5;
          padding: 0 5px;
          border-radius: 5px;
      }

      .media img, .media video {
          max-width: 100%;
      }

      .post_footer {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          opacity: .7;
          padding-top: 15px;
          border-top: 2px solid #e7eaec;
      }

      .post_footer .date {
          padding-right: 10px
      }

      .post_footer .reactions span {
          padding-right: 5px
      }

      .post_footer div {
          padding-right: 10px;
      }

    </style>

  </head>

  <body>

    <div id="container">

      <div class="blocks">

        <div class="stream">
          <div class="stream_title"><span>Posts</span></div>
          <div class="posts">
            {% with posts=posts %}
            {% include "posts.html.jinja" %}
            {% endwith %}
          </div>
        </div>

        <div class="stream">
          <div class="stream_title"><span>Boosts</span></div>
          <div class="posts">
            {% with posts=boosts %}
            {% include "posts.html.jinja" %}
            {% endwith %}
          </div>
        </div>

      </div>
      
    </div>
    
    <script type='text/javascript' src="style.js"></script>
  </body>

</html>
