name: My Mastodon Email Digest 
on:
  schedule:
    - cron: '0 22 * * *'
  workflow_dispatch:
jobs:
  update:
    name: digest
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master
        with:
          ref: main
      - name: python setup
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: python things
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: run digest
        env:
          MASTODON_TOKEN: ${{ secrets.MASTODON_TOKEN }}
          MASTODON_BASE_URL: ${{ secrets.MASTODON_BASE_URL }}
          MASTODON_USERNAME: ${{ secrets.MASTODON_USERNAME }}
        run: |
          python run.py -n 24 -s SimpleWeighted -t lax
      - name: email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Mastodon Email Digest
          to: ${{secrets.MAIL_DESTINATION}}
          from: Mastodon Digest Bot
          html_body: file://render/index.html